<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Menu</title>
</head>
<body>

<h2>Add Menu</h2>

<form action="/add-menu" method="post" th:object="${menu}">
    <label for="menuName">Menu Name:</label>
    <input type="text" id="menuName" name="menu_name" th:field="*{menu_name}" required>
    <br>

    <label for="menuPrice">Menu Price:</label>
    <input type="text" id="menuPrice" name="menu_price" th:field="*{menu_price}" required>
    <br>

    <label for="menuDescription">Description:</label>
    <textarea id="menuDescription" name="description" th:field="*{description}"></textarea>
    <br>

    <button type="submit">Save Menu</button>
</form>

</body>
</html>