<!-- src/main/resources/templates/menu-mgmt.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu Management</title>
</head>
<body>
    <h2>Menu Management</h2>
    <h3>Add Menu</h3>
    <form action="/restaurants/{id}/menus" method="post" th:object="${newMenu}">
        <label for="menuName">Menu Name:</label>
        <input type="text" id="menuName" name="menuName" th:field="*{menu_name}" required>
        <br>
        <label for="menuPrice">Menu Price:</label>
        <input type="number" id="menuPrice" name="menuPrice" th:field="*{menu_price}" required>
        <br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" th:field="*{description}" required>
        <br>
        <button type="submit">Save Menu</button>
    </form>

    <h3>Menu List</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Menu Name</th>
                <th>Menu Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="menu : ${menus}">
                <td th:text="${menu.id}"></td>
                <td th:text="${menu.menu_name}"></td>
                <td th:text="${menu.menu_price}"></td>
                <td th:text="${menu.description}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
