<!-- add-menu-form.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Menu Form</title>
</head>
<body>

<h2>Add Menu for Restaurant: <span th:text="${restaurant.name}"></span></h2>

<form action="@{/restaurants/{id}/menus(id=${newMenu.restaurant.id})}" method="post" th:object="${newMenu}">
    <!-- Add a hidden input field to capture the restaurant ID -->

    <label for="menu_name">Menu Name:</label>
    <input type="text" id="menu_name" name="menu_name" th:field="*{menu_name}" required>

    <label for="menu_price">Menu Price:</label>
    <input type="text" id="menu_price" name="menu_price" th:field="*{menu_price}" required>

    <button type="submit">Add Menu</button>
</form>

</body>
</html>

