<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Or RestOwner</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iKII+eaJ7j8GGW5Lb6UC/KuL1xZ9Z6aPhPe8IuU5IVf1FkwJ2Y" crossorigin="anonymous">
</head>
<body class="container">

    <h2 class="mt-4">Welcome! Choose your role:</h2>

    <form class="mt-4" th:action="@{/registration}" method="post">

        <!-- Button for User -->
        <button type="submit" class="btn btn-primary me-2">
            User Registration
        </button>

        <!-- Button for Restaurant Owner -->
        <button type="submit" class="btn btn-primary">
            Rest Registration
        </button>

    </form>

    <!-- Bootstrap JS and Popper.js (Optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lZ8f27FVdS1uZzRo4AJV9Bjo2t8CA+ccF5CAx1jKG1JSF9AEC1g6ZWi/FA5dEJ82" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-eMNCOd3I1lkIihmXA5RwDBye/UAtwN3mXUcHHpdC3EBUyRbBDE3cLKmXW5HYYXbS" crossorigin="anonymous"></script>
</body>
</html>
