<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Or RestOwner</title>
</head>
<body>

    <h2>Welcome! Choose your role:</h2>


    <form  th:action="@{/registration}" method="post">

        <!-- Button for User -->
        <span class="text-center"style="color: rgba(79, 87, 97, 1) ">USER <a href="/" th:href="@{/user-registration}">User Registration</a></span>
        <!-- Button for Restaurant Owner -->
        <span class="text-center"style="color: rgba(79, 87, 97, 1) ">REST <a href="/" th:href="@{/rest-registration}">Rest Registration</a></span>

    </form>

</body>
</html>
